h1 {
  color: black;
}

ul {
  color: white;
  font-style: italic;
  position: relative;
  right: 10px;
  display: flex;
  justify-content: center;
  margin: 15px 15px;
  margin-left: 300px;
}
ul li {
  display: inline-block;
  margin-right: 100px;
  margin-bottom: 10px;
}
ul li a {
  color: white;
  font-size: medium;
  font-style: italic;
  text-decoration: none;
  font-size: 20px;
}

.fondodelheader {
  background-color: black;
  background-image: url(../Multimedia/JJL.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-size: 200px;
}
.fondodelheader .textoecommerce {
  font-family: "Balsamiq Sans", cursive;
  font-family: "Bruno Ace SC", cursive;
  font-family: "Chivo Mono", monospace;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.fondodelheader .botondebusqueda {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-top: 20px;
}
.fondodelheader .navlabel {
  margin-right: 500px;
}
.fondodelheader .navinput {
  margin-right: 5px;
  width: 500px;
  height: 30px;
}

.recuadro {
  border: 7px solid black;
  padding-left: 5px;
  padding-bottom: 30px;
  border-style: groove;
}
.recuadro.h1paragaleria {
  font-family: "Balsamiq Sans", "cursive";
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.recuadro.h1paragaleria.imagengaleria {
  width: 370px;
  height: 280px;
}
.recuadro.h1paragaleria.videogaleria {
  position: absolute;
  top: 150px;
  right: 53px;
  margin: 0;
}
.recuadro.h1paragaleria .textogaleria {
  color: black;
  font-size: 25px;
  display: block;
  line-height: 1.5;
  justify-content: center;
}
.recuadro.h1paragaleria .centrartextoengaleria {
  color: black;
  display: block;
  position: absolute;
  margin: 280px;
  top: 40%;
  left: 28%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.recuadro {
  border: 7px solid black;
  padding-left: 5px;
  padding-bottom: 30px;
  border-style: groove;
}
.recuadro.h1paragaleria {
  font-family: "Balsamiq Sans", "cursive";
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.recuadro.h1paragaleria.imagengaleria {
  width: 370px;
  height: 280px;
}
.recuadro.h1paragaleria.videogaleria {
  position: absolute;
  top: 150px;
  right: 53px;
  margin: 0;
}
.recuadro.h1paragaleria .textogaleria {
  color: black;
  font-size: 25px;
  display: block;
  line-height: 1.5;
  justify-content: center;
}
.recuadro.h1paragaleria .centrartextoengaleriaparaorganizador {
  color: black;
  display: block;
  position: absolute;
  margin: 280px;
  top: 40%;
  left: 28%;
  transform: translate(-50%, 110%);
  font-size: 20px;
}

.ubicaciondelsection {
  border: 7px solid black;
  padding-left: 5px;
  border-style: double;
  position: relative;
  margin: 20px 400px;
  background-color: black;
}
.ubicaciondelsection .titulorecuadroredes {
  color: white;
  font-size: larger;
  text-align: center;
  transform: translate(0%, 0%);
}
.ubicaciondelsection .recuadroredes {
  color: white;
  padding-right: 150px;
  text-decoration: underline;
}
.ubicaciondelsection .recuadroredes .parrafopararedes {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
  color: white;
  text-align: justify;
  padding: 10px 10px;
}

.fondodelmain {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #eaebeb;
}
.fondodelmain .parrafonosotros {
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}
.fondodelmain .parrafonosotros .carousel-inner1 {
  height: 500px;
}
.fondodelmain .parrafonosotros .carousel-inner1 .carousel-item img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.fondodelmain {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #eaebeb;
}
.fondodelmain h1 {
  font-family: "Balsamiq Sans", "cursive";
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.fondodelmain .parrafohomearribaimagen {
  color: black;
  text-align: center;
  margin: 20px 50px;
  font-size: large;
}
.fondodelmain .parrafohome {
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2;
  font-size: large;
}

.recuadro ol a botondecompra {
  color: white;
  border: 3px solid white;
  padding: 10px 10px;
  background-color: black;
  transform: translate(100%, -100%);
}

recuadro {
  border: 7px solid black;
  padding-left: 5px;
  padding-bottom: 30px;
  border-style: groove;
}
recuadro animate__animated h1paragaleria {
  font-family: "Balsamiq Sans", "cursive";
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/*# sourceMappingURL=Styles.css.map */
