h1{
    color: black
}
ul{
    color: white;
    font-style: italic;
    position: relative;
    right: 10px;
    display: flex;
    justify-content: center;
    margin: 15px 15px;
    margin-left: 300px;
    li{
        display: inline-block;
        margin-right: 100px;
        margin-bottom: 10px;
        a{
            color: white;
            font-size: medium;
            font-style: italic;
            text-decoration: none;
            font-size: 20px;
        }
    }
}
.fondodelheader{
    background-color: black;
    background-image: url(../Multimedia/JJL.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-size: 200px;
    &.botondebusqueda{
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width: 100px;
        height: 30px;
        margin-top: 20px;
    }
    &.navlabel{
        margin-right: 500px;
    }
    &.navinput{
        margin-right: 5px;
        width: 500px;
        height: 30px;
    }
}
.recuadro{
    border: 7px solid black;
    padding-left: 5px;
    padding-bottom: 30px;
    border-style:groove;
    &.h1paragaleria{
        font-family: 'Balsamiq Sans', 'cursive';
        background-color: black;
        font-size: 30px;
        font-weight: bold; 
        line-height: 1.5;
        padding: 10px 0;
        color: white;
        text-align: center;
        text-transform: uppercase;
    &.imagengaleria{
        width: 370px; 
        height: 280px;
        }
    &.videogaleria{
        position: absolute;
        top: 150px;
        right: 53px;
        margin: 0;
        }
    .textogaleria{
        color: black;
        font-size: 25px;
        display: block;
        line-height: 1.5;
        justify-content: center;
        }    
    .centrartextoengaleria{
        color: black;
        display: block;
        position: absolute;
        margin: 280px;
        top: 40%;
        left: 28%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        }
    }
}
.recuadro{
    border: 7px solid black;
    padding-left: 5px;
    padding-bottom: 30px;
    border-style:groove;
    &.h1paragaleria{
        font-family: 'Balsamiq Sans', 'cursive';
        background-color: black;
        font-size: 30px;
        font-weight: bold; 
        line-height: 1.5;
        padding: 10px 0;
        color: white;
        text-align: center;
        text-transform: uppercase;
    &.imagengaleria{
        width: 370px; 
        height: 280px;
        }
    &.videogaleria{
        position: absolute;
        top: 150px;
        right: 53px;
        margin: 0;
        }
    .textogaleria{
        color: black;
        font-size: 25px;
        display: block;
        line-height: 1.5;
        justify-content: center;
        }    
    .centrartextoengaleriaparaorganizador{
        color: black;
        display: block;
        position: absolute;
        margin: 280px;
        top: 40%;
        left: 28%;
        transform: translate(-50%, 110%);
        font-size: 20px;
        }    
    }
}
.ubicaciondelsection{
    border: 7px solid black;
    padding-left: 5px;
    border-style: double;
    position: relative;
    margin: 20px 400px;
    background-color: black;
    .titulorecuadroredes{
        color: white ;
        font-size: larger; 
        text-align: center;
        transform: translate(0%, 0%);
    }
    .recuadroredes{
        color: white; 
        padding-right: 150px; 
        text-decoration: underline; 
        .parrafopararedes{
            font-size: 16px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 1.5;
            margin-bottom: 20px;
            color: white;
            text-align: justify;
            border: 3px solid white; 
            padding: 10px 10px;
          }
    }
}